In [8]:
# Import data manipulation libraries
import numpy as np
import pandas as pd
# Import yahoo finance library
import yfinance as yf
# Import cufflinks for visualization
import cufflinks as cf
# cf.set_config_file(offline=True, theme='pearl')
# Ignore warnings - optional
import warnings
warnings.filterwarnings('ignore')
# help(yf.download)
# yf.download?

In [9]:
 # Fetch the data by specifying the number of period
#df1 = yf.download('SPY', period='5d', progress=False, proxy="localhost:4567")
df1 = yf.download('SPY', period='5d', progress=False)
df1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-27 00:00:00-04:00,432.350006,436.809998,431.880005,436.170013,436.170013,72813700
2023-06-28 00:00:00-04:00,435.049988,437.440002,434.410004,436.390015,436.390015,75636000
2023-06-29 00:00:00-04:00,435.959991,438.279999,435.540009,438.109985,438.109985,67882300
2023-06-30 00:00:00-04:00,441.440002,444.299988,441.109985,443.279999,443.279999,104921500
2023-07-03 00:00:00-04:00,442.920013,444.079987,442.630005,443.790009,443.790009,32793400

In [16]:
# Fetch data by specifying the start and end dates
df2 = yf.download('SPY', start='2022-06-01', end='2022-06-30', progress=False)
# Display the first five rows of the dataframe to check the results.
df2.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-06-01 00:00:00-04:00,415.170013,416.239990,406.929993,409.589996,401.275543,86585800
2022-06-02 00:00:00-04:00,409.420013,417.440002,407.040009,417.390015,408.917236,79609600
2022-06-03 00:00:00-04:00,412.399994,414.040009,409.510010,410.540009,402.206299,71874300
2022-06-06 00:00:00-04:00,414.779999,416.609985,410.549988,411.790009,403.430878,57508900
2022-06-07 00:00:00-04:00,408.100006,416.220001,407.609985,415.739990,407.300690,59272400

In [17]:
# Fetch data for year to date (YTD)
df3 = yf.download('SPY', period='ytd', progress=False)
# Display the last five rows of the dataframe to check the results.
df3.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-27 00:00:00-04:00,432.350006,436.809998,431.880005,436.170013,436.170013,72813700
2023-06-28 00:00:00-04:00,435.049988,437.440002,434.410004,436.390015,436.390015,75636000
2023-06-29 00:00:00-04:00,435.959991,438.279999,435.540009,438.109985,438.109985,67882300
2023-06-30 00:00:00-04:00,441.440002,444.299988,441.109985,443.279999,443.279999,104921500
2023-07-03 00:00:00-04:00,442.920013,444.079987,442.630005,443.790009,443.790009,32793400

In [12]:
# Specify stocks
# https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average
dow_stocks = ['UNH', 'GS', 'HD', 'AMGN', 'MCD']

In [13]:
# Fetch data for multiple stocks at once
df4 = yf.download(dow_stocks, period='ytd', progress=False)['Adj Close']
# Display dataframe
df4.tail()

,AMGN,GS,HD,MCD,UNH
Date,,,,,
2023-06-27 00:00:00-04:00,222.610001,313.450012,313.739990,291.299988,482.559998
2023-06-28 00:00:00-04:00,221.309998,313.660004,306.510010,291.739990,474.450012
2023-06-29 00:00:00-04:00,221.160004,323.089996,307.820007,294.470001,476.440002
2023-06-30 00:00:00-04:00,222.020004,322.540009,310.640015,298.410004,480.640015
2023-07-03 00:00:00-04:00,225.009995,326.609985,310.019989,294.839996,477.880005

In [14]:
# Fetch data for multiple fields using comprehension
ohlcv = {symbol: yf.download(symbol, period='250d', progress=False) for symbol in dow_stocks}

1 Failed download:
- UNH: No data found for this date range, symbol may be delisted

In [15]:
# Retrieve intraday data for last five days
df6 = yf.download('SPY', period='5d', interval='1m', progress=False)
# Display dataframe
df6

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-06-27 09:30:00-04:00,432.609985,432.619995,432.609985,432.619995,432.619995,1146785
2023-06-27 09:31:00-04:00,432.619995,432.660004,432.429993,432.500000,432.500000,181906
2023-06-27 09:32:00-04:00,432.500000,432.660004,432.239990,432.299988,432.299988,221527
2023-06-27 09:33:00-04:00,432.309998,432.600006,432.279999,432.480011,432.480011,144586
2023-06-27 09:34:00-04:00,432.480011,432.799988,432.480011,432.710114,432.710114,236760
...,...,...,...,...,...,...
2023-07-03 12:42:00-04:00,443.875000,443.880005,443.834991,443.869995,443.869995,122901
2023-07-03 12:43:00-04:00,443.875000,443.920013,443.839996,443.875000,443.875000,96413
2023-07-03 12:44:00-04:00,443.880005,443.904999,443.869995,443.890015,443.890015,99755
2023-07-03 12:45:00-04:00,443.890015,443.929993,443.879700,443.880096,443.880096,74858
2023-07-03 13:00:00-04:00,443.790009,443.790009,443.790009,443.790009,443.790009,5779426